/* BEGIN css reset */
/* copyright: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* END css reset */

/* main page layout */
html,body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 1;
    width: min(100ch, 100%);
    margin: auto;
    padding: 1.5em 1.5em;
}

#footer {
    display: flex;
    justify-content: space-evenly;
}

/* classes */
.highlight {
    background-color: #fff0c0;
}

.deemphasize {
    color: #808080;
}

/* tags */
body {
    color: #444;
    line-height:1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    line-height:1.4;
}

hr {
    margin: 1em 0em;
}

ul {
    padding-left: 0px;
}

ul ul {
    padding-left: 40px;
}
