<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header id="header"></header>
    <main id="main">
        <h1>{{ title }}</h1>
        <p>Use the form below to upload a file to the server:</p>
        <form action="/" method="post" enctype=multipart/form-data>
            <input type="file" name="upload" id="upload">
            <br>
            <input type="submit" value="Submit">
        </form>
        {% if uploaded %}
        <hr>
        <span>Uploaded file: </span>
        <a href="{{ uploaded.href }}" target="_blank">{{ uploaded.name }}</a>
        {% endif %}
        {% if all_files %}
        <hr>
        <h2>All files:</h2>
        <ul>
            {% for file in all_files %}
            {% if file == uploaded %}
            <div class="highlight">
            <li class="highlight">
                <a href="{{ file.href }}" target="_blank">{{ file.name }}</a>
                <span class="deemphasize">(uploaded)</span>
            </li>
            </div>
            {% else %}
            <li>
                <a href="{{ file.href }}" target="_blank">{{ file.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </main>
    <footer id="footer">
        <span>© Martin Janů 2024</span>
    </footer>
</body>
</html>
